/* Footer */
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

.top-menu .top-bar .links li.right { margin-left: 1rem }

a:visited{
	color:#090;
}
a:link {
	color:#009;
}

code { font-size: large; color: darkgray }
pre.src { font-family: Courier, monospace; }